{% extends 'admin/master.html' %}

{% block body %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('site.static',filename="/css/style.css")}}">
{% endblock %}
{% block content %}
<nav>
  <a href="{{url_for("site.index")}}">Home</a>
  <a href="{{url_for("site.login")}}">Login</a>
  <a href="{{url_for("site.recupera_senha")}}">Recuperar Senha</a>
  <a href="{{url_for("site.cadastro_pront")}}">Cadastro Prontuario</a>
  <a href="{{url_for("site.cadastro_medic")}}">Cadastro Médico</a>
  <a href="{{url_for("site.admin")}}">Admin</a>
  <a href="{{url_for("site.prontuario")}}">Prontuario</a>
</nav>
{% endblock content%}
{% endblock %}