{% extends "base.html" %}
{% from 'macros.html' import form_field %}


{% block title %}
Cadastro Médico
{% endblock title %}

{% block content %}
<div class="container">
    <form action="{{url_for("site.cadastro_medic")}}" , method="post">
        <h3>Cadastrar Médico</h3>
        {{ form.csrf_token }}
        
            <div>
                {{ form.hidden_tag() }}
                {{ form.nome.label }}
                {{form_field(form.nome)}}
            </div>
            <div>
                {{ form.hidden_tag() }}
                {{ form.crm.label}}
                {{form_field(form.crm)}}
            </div>
            <div>
                {{ form.hidden_tag() }}
                {{ form.email.label }}
                {{form_field(form.email,)}}
            </div>
            <div>
                {{ form.hidden_tag() }}
                {{ form.senha.label }}
                {{form_field(form.senha)}}
            </div>
            <div>
                {{ form.hidden_tag() }}
                {{ form.confirmar_senha.label }}
                {{form_field(form.confirmar_senha)}}
            </div>
        {{ form.submit() }}
    </form>
</div>
{% endblock content%}