* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #70ADA2;
  font-family: Roboto, Arial, sans-serif;
}
nav {
    width: 90%;
    max-width: 880px;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 1rem;
    background-color: #19806d;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    background-color: white;
    padding: 5px;
    border-radius: 0.5rem;
    margin: 5px;
    font-size: 1rem;
    color: #19806d;
    text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 30px 0;
  color: #f8f6f6;
}
h2 {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 05px 0;
  color: #70ADA2;
}


form {
  margin: 30px 0;
  background-color: white;
  padding: 30px 30px;
  border-radius: 15px;
}

form .input-block {
  margin-bottom: 10px;
  font-size: 14px;
  color: #70ADA2;
 
  
}

form .input-block label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #70ADA2;
 
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #70ADA2;
  border-radius: 5px;
  border: 1px solid #ccddef;
  outline-color: #70ADA2;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #70ADA2;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

form .input-msg {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #70ADA2;
  border-radius: 5px;
  border: 1px solid #ccddef;
  outline-color: #70ADA2;


}


/* APARIÇÃO DO FORM */
form {
  overflow: hidden;
  animation: fade 0.2s;
}

form .input-block:nth-child(1) {
  animation: move 500ms;
}

form .input-block:nth-child(2) {
  animation: move 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 400ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Quando clicar no botão, sumir com o form */
.form-hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

/* FORM NO-NO */

form.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}

/* squares */

.squares li {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 2s infinite alternate;
  z-index:-1
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(-800px) rotate(960deg);
  }
}
