* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #70ADA2;
}

.container{
    
}

.index{
    text-align: center;
    display: flex;
    background-color: white;
    max-width: 880px;
    min-width: 400px;
    height: 300px;
    border-radius: 0.7rem;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    color: #19806d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: 2rem;
}

nav {
    width: 90%;
    max-width: 880px;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 1rem;
    background-color: #19806d;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    background-color: white;
    padding: 5px;
    border-radius: 0.5rem;
    margin: 5px;
    font-size: 1rem;
    color: #19806d;
    text-decoration: none;
}

form {    
    background-color: white;
    width: 70%;
    max-width: 800px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form h3 {
    text-align: center;
    color: #19806d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input[type=text],
form input[type=password] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
#email{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
#nascimento{
    width: 50%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 10px;
    text-align: center;
    color: rgb(177, 175, 175);
}
form input[type=submit] {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #70ADA2;
    color: white;
    border: 0;
    border-radius: 20px;
}

form input[type=submit]:hover {
    background-color: #19806d;
    transition: 1s;
}

form input[type=text]:focus {
    outline: 0;
}

form input[type=password]:focus {
    outline: 0;
}



.text {
    /*
    position: absolute;
    width: 1210px;
    height: 233px;
    left: 117px;
    */
    font-family: 'RougeScript';
    font-weight: 300;
    font-size: 76px;
    line-height: 183px;
    text-align: center;
    color: #FFFFFF;
}


.form {
    background-color: #82FCE6;
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 60%;
    border-radius: 5px;
    Width: 529px;
    Height: 520px;
    bleed: Pass through;
    box-shadow: 1px 1px 5px rgb(58, 56, 56);
    margin: auto;
}


.card-top {
    text-align: center;
}

.card-group {
    margin-bottom: 12px;

}

.card-group>label {
    width: 343px;
    height: 20px;
    left: 487px;
    top: 513px;
    display: block;
}

.card-group>input {
    border-radius: 5px;
    outline: 12px;
    width: 100%;
    height: 25px;
    padding: 4px;
}

.card-group>button {
    background-color: #497493;

}

.title {
    color: black;
    text-align: center;
}